services:
  torrent:
    image: ghcr.io/linuxserver/qbittorrent:5.0.2
    network_mode: service:vpn
    # maybe restart if unhealthy vpn? https://stackoverflow.com/a/66485341/2423187
    # It would be better to change the healthcheck to notice it can't be accessed once the vpn restarts
    depends_on:
      vpn:
        condition: service_healthy
    environment:
      - PUID=1000
      - PGID=1000
      - WEBUI_PORT=8081
    volumes:
      - ./qbittorrent:/config
      - ~/Downloads:/downloads
      - /mnt/scihub:/scihub
    healthcheck:
      test: ["CMD", "wget", "-q", "--no-verbose", "--tries=1", "--spider", "--no-check-certificate", "https://localhost:8081"]
      interval: 60s
      retries: 3
      start_period: 0s
      timeout: 30s
    restart: always
  #============================================================================================================
  # says the depends_on isn't required?
  vpn:
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - 8081:8081
      - 5031:5031
      - 5030:5030
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY_SECRETFILE=/run/secrets/privatekey
    secrets:
      - privatekey
    restart: always
  ip_bullshit:
    network_mode: service:vpn
    build:
      context: ip-detection
    environment:
      - CHANGE_SCRIPT=/vpn-scripts/myanonamouse.sh
    volumes:
      - ./vpn-scripts:/vpn-scripts
    restart: always
    depends_on:
      vpn:
        condition: service_healthy
  slskd:
    image: slskd/slskd
    network_mode: service:vpn
    user: 1000:1000
    depends_on:
      vpn:
        condition: service_healthy
    environment:
      - SLSKD_REMOTE_CONFIGURATION=true
    volumes:
      - ./soulseek:/app
      - ~/Downloads:/downloads
      - /mnt/media/music/music:/music:ro
    restart: always
secrets:
  privatekey:
    file: ./wireguardkey # git repo for vpn has a branch to retrieve this from a nordvpn key
